.no-questions-info{
    text-align: center;
}

.questions-container{
    margin-top: 40px;
}
.edit-button{
    padding-right: 20px;
}

.question-type-span
{
 float: right;
 
    .dropdown-toggle{
        min-width: 160px;
         text-align: left;
    .caret{
        float: right!important;
        margin-top: 9px;
        }
    }   
}
.question-options .fa-trash-o{
    color: red;
    float: right;
}
.add-option-button{
    cursor:pointer;
    background-color: #d4d4d4;
}

.fa-trash-o{
    cursor:pointer;
}
.options-adding-div{
    padding-bottom: 2%!important;
}
.add-options-button{
    padding-bottom: 2%;
}
.add-btn-add-on{
    background-color: #3e7d90;
    color: white; 
}
.add-btn-add-on:hover{
    background-color: #3e7d90;
    color: white; 
    }
    .add-btn-add-on:focus{
    background-color: #3e7d90;
    color: white;
}
.react-bs-table-sizePerPage-dropdown{
    padding-left: 10px!important; 
}
.error{
    color: #a94442;
}
.required:after { content:" *";color: #a94442; }
.range-response{
    .form-control{
        width: 50%;
    }
}
.modal textarea{
    resize:vertical;
}