
.subject-div{
    padding-bottom: 2%;
}
.template-designer{
    padding-top: 2%;
}

.template-div{
    padding-top: 2%;
}
.submit-cancel-btn{
    float: right;
    padding-top: 1%;
    button{
        margin-left: 8px;
    }
}
.place-holders-div{
    padding-bottom: 1%;
}
.error{
    color: #a94442;
    font-weight: 700;
}
.mandatory-fields-btn-group{
    float: right;
}