.edit-button{
    padding-right:10px!important;
}
.add-case-report{
    background-color: #337ab7;
    color:white;
}
.add-case-report:hover{
    background-color: #337ab7;
    color:white;
}
.react-bs-table-sizePerPage-dropdown{
    padding-left: 10px!important; 
}
.react-bs-table-pagination .dropdown .dropdown-menu {
      top: auto;
      bottom: 100%;
      margin-bottom: 8px;
      min-width: 54px;
      left: 10px;
  }